.ipynb_checkpoints/*
csvs/*
!csvs/.gitkeep

base_model_src/checkpoints/*
!base_model_src/checkpoints/.gitkeep
!base_model_src/filelists/.gitkeep

base_model_src/filelists/CUB/images/*
base_model_src/filelists/miniImagenet/images/*
!base_model_src/*.py